@media screen and (min-width: 700px) {

    #menu-button {
        display: none;
    }

    #primary-nav {
        display: block;
    }

    #primary-nav ul {
        flex-direction: row;
        gap: 1rem;
    }


    .members-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .member-card {
        max-width: none;
    }

    .hero-content {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 1.5rem;
        border-radius: 8px;
    }

    #forecast {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlights {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .site-footer section {
        margin-bottom: 0;
    }
}


@media screen and (min-width: 1000px) {


    .members-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    .events-section {
        width: 100%;
    }

    #forecast {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}