@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 0;
        background-color: transparent;
    }

    nav a {
        padding: 0.8rem 1.2rem;
    }

    .content-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .certificate {
        grid-column: 1 / -1;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and (min-width: 1000px) {
    main {
        padding: 2rem 5%;
    }

    .content-grid {
        grid-template-columns: 2fr 1fr;
    }

    .course-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}